:root {
    --background: #030e27;
    --button-hover: #223768;

    --font-color: #f0f4ff;
    --font-size: 1.5rem;
    --font-size-header: 2.5rem;
}

body {
    font-family: 'Gaegu', sans-serif;
    font-size: var(--font-size);
    color: var(--font-color);

    margin: 0;
    background-color: var(--background);
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: var(--button-hover);
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#page-header {
    display: flex;
}

#page-title {
    font-size: var(--font-size-header);
    margin-right: 50px;
}


#tabs {
    list-style-type: none;

    margin: 0;
    padding: 0;
}
  
#tabs li {
    float: left;
    margin-left: 10px;
}

button {
    text-decoration: none;

    background-color: var(--background);
    color: var(--font-color);

    border-radius: 2px;
    border: solid 2px var(--background);
}

button:hover {
    border: solid 2px var(--button-hover);
}

#gallery-image {
    max-width: 400px;
    max-height: 400px;
}